{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-flex-column">
        {% if form.errors %}
            {% for title, message in form.errors.items %}
                <p class="text text-center message">{{ message }}</p> 
            {% endfor %}
        {% endif %}
        <form  action="{% url 'password_reset' %}" method="POST"> {% csrf_token %}
            <label class='text text-center' for='email'>Digite o email de recuperação</label>
            <input type="email" name="email" id="email" class="input" placeholder="Digite o seu e-mail">
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>

{% endblock content %}
