{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
        <h2 class="text-center">Insira a nova senha</h2>
        <div class="container-flex-coloumn">
            {% if form.errors %}
                <div class="container-flex">
                    {% for title, message in form.errors.items %}
                       <p class="text text-center">{{ message }}</p> 
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-flex">
                <form action="" method="POST"> {% csrf_token %}
                    <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Digite a nova senha">
                    <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirme a nova senha">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>

    {% else %}
        <div class="container-flex">
            O link inserido é inválido. Por favor refaça o processo ou verifique o link.
        </div>
    {% endif %}
    
{% endblock content %}
