{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-flex">
        <div class="container-message">
            <p class="text text-center message">Um e-mail foi enviado para a sua caixa postal com instruções para resetar a senha. 
                Verifique a sua caixa de SPAM caso o e-mail não chegue em alguns minutos. Caso não receba nenhum email, pode ser que o seu email não esteja registrado em nosso sistema, favor entrar em contato conosco.
            </p>
            <a href="https://wa.me/+5547984935353" target="_blank">Clique aqui.</a>
        </div>
    </div>
    <div class="container-flex">
        <a href="{% url "consulta:consulta" %}">Voltar a pagina inicial</a>
    </div>

{% endblock content %}