{% load static %}

   <!-- Data da Reserva -->
   <div class="container">
      <label class="text" for="data">Data</label>
      <input id='data' class='input data-module'type="date" name="data">
   </div>

   <!-- Periodos -->
   <div class="container">
   <label class="text" for="periodo">Periodo</label>
         <select id='periodo' class='input' name="periodo" >
         <option selected>Selecione o Periodo</option>
         {% for periodo in periodos %}
            <option value="{{periodo.id}}">{{periodo.nome_periodo}}</option>
         {% endfor %}
         </select>
   </div>

   <!-- Laboratórios -->
   <div class="container">
      <label class="text" for="laboratorio">Laboratorio</label>
      <select id='laboratorio' class='input' name="nome_lab" id="">
         <option selected>Selecione o Laboratório</option>
         {% for lab in laboratorios %}
            <option value="{{lab.id}}">{{lab.nome}} {{lab.bloco}}{{lab.numero_sala}}</option>
         {% endfor %}
      </select>
   </div>

   <!-- Nome Professor -->
   <div class="container">
      <label class="text" for="professor">Professor</label>
      <input id='professor' class='input' type="text" name='nome_professor' placeholder="Nome do professor" list='lista_professores'>
      <datalist id='lista_professores'>
            {% for professor in professores %}
               <option value="{{professor.nome}}"></option>
            {% endfor %}
      </datalist>   
   </div>  