* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/backgroud.jfif");
    background-repeat: repeat;

}

.text, .tittle {
    color: white;
}

.text{
    font-size: 1.5em;
}

.tittle {
    margin-top: 10px;
    font-size: 3em;
    text-align: center;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-erro {
    color:red;
}

.sucesso,
.erro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.mensagem_sucesso,
.mensagem_erro {
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 1px 1px 1x black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 50px;
}


/* Barra de Navegação */
.nav {
    margin-bottom: 50px;
}

.nav .navitens {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px;
}

.nav .navitens li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.nav .navitens li a:hover {
    background-color: lightgray;
}

/* Barra de navegação mobile */
i#burguer {
    display: none;
}

#chk-burguer {
    display: none;
}
.nav .sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left:-100%;
    overflow-x: hidden;
    display: none;
}



.nav .sidebar{
    list-style: none;
    width: 200px;
}

.nav .sidebar #burguer-close {
    color: white;
}

.nav .sidebar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 1.75em;
    border-radius: 10px;
}

.nav .sidebar li a:hover {
    background-color: rgb(78, 78, 78);
    border-radius: 10px;
}

.nav .sidebar.active {
    display: block;
    margin-top: 0px;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgb(53 40 120);
    padding-top: 20px;
}



.dropdown-menu {
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #949494;
    border-radius: 10px;
}




#link_whatsapp {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    
}

/* Adiciona um espaço entre o painel e a barra de seleção de lado */
.espaco-painel {
    position: relative;
    min-width: 1000px;
    max-width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    margin-top: 60px;
    perspective: 800px;
}

/* Define o tamanho do painel e a posição do mesmo */
.painel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: 0.6s ease;
}

/* Parte que define o tamanho da div para frente e verso */
.frente,
.verso {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/*  Define a rotação para a pagina verso */
.verso {
    transform: rotateY(180deg);
}

/* Altera o css dos elementos dentro do painel */
.conteudo-painel {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*  Esconde o quadrado do checkbox */
.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

/* Faz uma barra para a label para simular um seletor */
.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    display: block;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: black;
}

/* Faz uma bola que sobrepoe a barra da label para indicar qual lado está selecionado */
.checkbox:checked + label::before,
.checkbox:not(:checked) + label::before {
    content: "<";
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 60%;
    background-color: yellow;
    z-index: 20;
    transition: 0.5s ease;
    font-size: 2em;
    transform: rotate(-310deg);
}

/* Faz a bola de seleção se mover para o lado que esta selecionado */
.checkbox:checked + label::before {
    transform: translateX(44px) rotate(-240deg);
}

/* Faz o painel de mover sempre que o status da checkbox muda */
.checkbox:checked ~ .espaco-painel .painel {
    transform: rotateY(180deg);
}

/* Altera text indicado de seleção */
.reservados,
.disponiveis {
    font-size: 1.5em;
    opacity: 50%;
}

.seletor {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.seletor .destaque {
    font-size: 2em;
    opacity: 100%;
}

.container {
    width: min(800px, 90%);
    display: grid;
    justify-content: center;
    margin: auto;
}

.container input, label, select {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

button {
    margin: 10px;
    border-radius: 10px;
    font-size: 1.25em;
    background-color: blueviolet;
    border: 1px solid white;
    color: white;
    min-width: 185px;
}


button a {
    text-decoration: none;
    color: white;
}


@media  screen and (max-width:530px) {

    /* Mostrar botão da navegação lateral */
    .nav .sidebar {
        left: 0;
    }
    .nav .navitens {
        display: none;
    }
    i#burguer {
        display: inline-block;
        padding: 15px;
        color: white;
    }
    
    .tittle {
        font-size: 1.5em;
    }

    .text{ 
        font-size: 1.25em;
    }


    /* Alterando propriedades dos elementos da tabela de lab. reserva e disponiveis */
    .espaco-painel {
        width: 650px;
    }
    .text-table {
        font-size: 0.75em;
    }
    .lista_reservados .reserva {
        width: 100px;
    }
    .lista_reservados td {
        width: 100px;
    }
    tr {
        max-width: 650px;
    }
    td {
        max-width: 200px;
    }
    tr #acoes {
        max-width: 50px;
    }
    
    tr .icons {
        font-size: 0.7rem;
    }
    .container-message {
        max-width: 350px;
    }

    .message {
        font-size: 1em;
    }
}