{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% comment %} Mostra lista de reservas {% endcomment %}
    {% if labs_reservados %}
        <div class="container text-center">
            <h1 class='tittle text' name="data">Data {{data}}</h1>
            {% if labs_reservados %}
            <table>
                <tr>
                    <td class="table-tittle text">Laboratórios Reservados</td>
                </tr>
                {% for item in labs_reservados %}
                    <tr>
                        <td class='text text-center'>{{item}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p class="text text-center">Não á reservas para esse professor</p>
            {% endif %}
        </div>
    {% endif %}

    {% comment %} Exibe mensagem informando que não há laboratório reservados {% endcomment %}
    <div class="sem-reserva">
        <p class="text">{{mensagem}}</p>
    </div>

 

{% endblock content %}