{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container reservas">
        <form method="post">
            {% csrf_token %}
        
            <p class='text'>Você tem certeza que quer cancelar:</p>
            <p class='text'>Laboratório: {{reserva.laboratorio.nome}} {{laboratorio.bloco}}{{labotorio.numero_sala}}</p>
            <p class='text'>Professor: {{reserva.professor}}
            <p class="text">Data: {{reserva.data_reserva}}</p>
            <p class="text">Periodo: {{reserva.periodo}} </p>

           <button>
               <a class="text" href="{% url "reservas:cancelar_reserva" reserva.id %}">Cancelar</a>
           </button>
        </form>
    </div>

 



{% endblock content %}