{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="tittle text">Editar reserva</h1>

    {% if erro %}
    <div class="container">
        <div class="erro">
            <p class='mensagem_erro'>{{erro}}</p>
        </div>
    </div>
    {% endif %}
    
    <div class="container editar">

        {% if request.user.groups.all.0.name == 'Funcionarios' %}
        <label class="text label" for="select-htmx">Bloco: {{reserva.bloco}}</label>
        <form method="POST" action='{% url "reservas:editar" id %}'> {% csrf_token %}
                
            {% comment %} Seleção de bloco {% endcomment %}
            <select  name="blocos" id='select-htmx'
                hx-get="{% url "reservas:editar_modules" %}"
                hx-trigger="change"
                hx-target="#editar_modules">
                <option class='input-editar' selected>Selecione o Bloco</option>
                {% for bloco in blocos %}
                <option value="{{bloco.id_bloco}}">{{bloco.bloco}}</option>
                {% endfor %}
            </select>
            
            <div id="editar_modules">
                {% include 'partials/editar_modules.html' %}
            </div>
    
            <button>Atualizar</button>
        </form>
        {% else %}
        <p class"text">Ocorreu algum problema ou você não tem permissão para acessar essa página</p>
        {% endif %}
    </div>
{% endblock content %}