{% extends "base.html" %}
{% load static %}

{% block content %}


   <h1 class="tittle text text-center">Reservar Laboatório</h1>
   {% if erro %}
      <div class="container">
         <div class="erro">
            <p class='mensagem_erro'>{{erro}}</p>
         </div>
      </div>
   {% endif %}
   {% comment %} Lista de inputs para registrar uma reserva {% endcomment %}
   <div class="container">
      <label   class="text" for="select-htmx">Selecione o Bloco</label>
      <form action="{% url "reservas:registrar_reserva" %}" method="POST"> {% csrf_token %}
         <select  name="blocos" id='select-htmx'
         hx-get="{% url "reservas:modules" %}"
         hx-trigger="change"
         hx-target="#modules">
         
         {% comment %} Seleção de bloco {% endcomment %}
            <option class='input' selected>Selecione o Bloco</option>
            {% for bloco in object_list %}
               <option value="{{bloco.id_bloco}}">{{bloco.bloco}}</option>
            {% endfor %}

         </select>

         <div id="modules">
            {% include 'partials/modules.html' %}
         </div>
         <button>Reservar</button>
      </form>

   </div>
   
{% endblock content %}